*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    color: white;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color: rgba(0,0,0,0.9);
    padding: 20px 24px;
    border-radius: 10px;

}

.timer{
    font-size: 3.2rem;
    font-weight: 600;
}

.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 1.25rem;
    background: none;
    border: none;
    color: white;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 18px;
    border-radius: 8px;
    cursor: pointer;
}

